body {
    width: 800px;
    margin: auto;
    margin-top: 3%;
}

.refus{
    color:black;
}

.niveau-un{
    color:red;
}

.niveau-deux{
    color:orange;
}

.niveau-trois{
    color:forestgreen;
}

.niveau-quatre{
    color:blue;
}